<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Danh sách đơn hàng</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Danh sách đơn hàng</h1>
<table border="1">
  <thead>
  <tr>
    <th>STT</th>
    <th>Mã đơn hàng</th>
    <th>Tên sản phẩm</th>
    <th>Giá sản phẩm</th>
    <th>Loại sản phẩm</th>
    <th>Ngày mua</th>
    <th>Số lượng</th>
    <th>Tổng tiền</th>
    <th>Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="orderProduct, stat : ${orders}">

    <td th:text="${stat.index + 1}">STT</td>


    <td th:text="${orderProduct.id}"></td>


    <td th:text="${orderProduct.product.nameProduct}">Tên sản phẩm</td>


    <td th:text="${#numbers.formatDecimal(orderProduct.product.priceProduct, 1, 'POINT', 0, 'COMMA')}">Giá sản phẩm</td>


    <td th:text="${orderProduct.product.productType.name}">Loại sản phẩm</td>


    <td th:text="${orderProduct.dateBuy}">Ngày mua</td>

    <td th:text="${orderProduct.quantity}">Số lượng</td>


    <td th:text="${#numbers.formatDecimal(orderProduct.product.priceProduct * orderProduct.quantity, 1, 'POINT', 0, 'COMMA')}">Tổng tiền</td>


    <td>
      <a th:href="@{/order-products/edit/{id}(id=${orderProduct.id})}">Sửa</a>
    </td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    <th:block th:if="${orders.totalPages > 0}">
      <li class="page-item" th:each="i : ${#numbers.sequence(1, orders.totalPages)}" th:classappend="${orders.number + 1 == i} ? 'active'">
        <a class="page-link" th:text="${i}" th:href="@{/order-products(page=${i - 1})}"></a>
      </li>
    </th:block>

  </ul>
</nav>
<a href="/order-products/create">Thêm đơn hàng</a>
</body>
</html>
